#text1 {
    position: static;
    left: 1.45%;
    right: 1.45%;
    top: 5.32%;
    bottom: 5.32%;
    font-family: Graphik;
    font-style: normal;
    font-weight: bold;
    font-size: 74px;
    line-height: 84px;
    /* or 114% */
    text-align: center;
    letter-spacing: 0.2px;
    /* Light text */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

#head {
    background-position: top;
    background-image: url("img/fondo.png");
    background-repeat: no-repeat;
    height: 930px;
    width: 400px;
}